package views

templ Index() {
	@layout() {
		<section>
		<h1>Some title</h1>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex neque ratione quo accusamus, modi exercitationem dignissimos distinctio repellat voluptatum aspernatur aut laborum officiis natus amet, excepturi, minus quae nihil unde.	</p>
		</section>
	}
}
